<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock Tracker</title>
</head>
<body>
<form action="/logout" method="post" style="display: inline-block;">
    <button type="submit">Logout</button>
</form>


{{#stocks}}
<form action="/edit-stock" method="post">
    <input type="text" value="{{stock.name}}" name="editname" placeholder="Edit Name"/>
    <input type="text" value="{{stock.symbol}}" name="editsymbol" placeholder="Edit Symbol"/>
    <input type="text" value="{{stock.price}}" name="editprice" placeholder="Edit Price"/>
    <input type="text" value="{{stock.shares}}" name="editshares" placeholder="Edit # of Shares"/>
    <input type="text" value="{{stock.dividend}}" name="editdividend" placeholder="Edit Dividend"/>
    <input type="hidden" name="editid" value="{{id}}"/>
    <button type="submit">Update</button>

</form>
{{/stocks}}


</body>
</html>