<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stocks Tracker</title>
</head>
<body>


<form action="/logout" method="post" style="display: inline-block;">
    <button type="submit">Logout</button>
</form> <br> <br>

<form action="/create-stock" method="post" style="display: inline-block;">
    <input type="text" name="name" placeholder="Name"/>
    <input type="text" name="symbol" placeholder="Symbol"/>
    <input type="text" name="price" placeholder="Price"/>
    <input type="text" name="shares" placeholder="# of Shares"/>
    <input type="hidden" name="id" value="{{id}}"/>
    <button type="submit">Submit Stock</button>
</form>


<br>
<ol>
    {{#stocks}}
    <li><b>{{name}}</b> - {{symbol}} - $ {{price}} per share - {{shares}} shares  - Total value: ${{value}}</li>
    <form action="/delete-stock" method="post" style="display: inline-block;">
        <input type="hidden" name="id" value="{{id}}"/>
        <button type="submit">Delete</button>
    </form>

    <form action="/edit" method="get" style="display: inline-block;">
        <input type="hidden" name="id" value="{{id}}"/>
        <button type="submit">Edit</button>
    </form>

    {{/stocks}}
</ol>

</body>
</html>